.Button {
    background: none;
    background-color: white;
    outline: none;
    border: none;
    border: 1px solid var(--black, black);
    color: var(--black, black);
    padding: 0.4rem 1.2rem;
    font-size: 1rem;
    transition: 0.2s all;
}

.Button:hover {
    border: 1px solid var(--blue, deepskyblue);
}